<div style="height: 30px;" class="panel-footer" data-ng-controller="HeaderController">
    <ul>
        <li class="col-sm-3">
            <a href="http://softuni.bg">SoftUni.bg</a>
        </li>
        <li class="col-sm-3" data-ng-click="redirect('help')">
            <a style="cursor: pointer">Help</a>
        </li>
        <li class="col-sm-3">
            <a href="https://github.com/Team-Celadon-SoftUni">GitHub</a>
        </li>
        <li class="col-sm-3"  data-ng-click="redirect('feedback')">
            <a>Feedback</a>
        </li>
    </ul>
</div>