<div class="navbar navbar-default navbar-fixed-top" data-ng-controller="HeaderController">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <div class="navbar-header">
        <a class="navbar-brand" href="#/home"><img style="height: 130%;" src="img/Logo-small.png" alt="AllQuestions"/></a>
    </div>
    <div data-ng-controller="UserController">
        <div data-ng-model="barOut" data-ng-show="barOut">
            <div id="outNav" class="navbar-collapse navbar-responsive-collapse collapse out" aria-expanded="false">
                <ul class="nav navbar-nav navbar-right col-md-6">
                    <form class="navbar-form navbar-left">
                        <input type="text" class="form-control col-md-2"
                               data-ng-model="user.Username"
                               placeholder="Username">
                    </form>
                    <form class="navbar-form navbar-left">
                        <input type="password" class="form-control col-md-2"
                               data-ng-model="user.Password"
                               placeholder="Password">
                    </form>
                    <li><a data-ng-href="#/user" data-ng-click="login(user)">Login</a></li>
                    <li><a data-ng-href="#/register" data-ng-click="redirect('register')">Register</a></li>
                </ul>
            </div>
        </div>
        <div data-ng-model="barLoged" data-ng-show="barLogged">
            <div id="loginNav" class="navbar-collapse navbar-responsive-collapse collapse out">
                <ul class="nav navbar-nav">
                    <li><a href data-ng-click="redirect('userPosters')">My questions</a></li>
                    <li><a href data-ng-click="redirect('addPoster')">Ask a question</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right col-md-2">
                    <li class="dropdown">
                        <a href class="dropdown-toggle" data-toggle="dropdown">{{username}} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href data-ng-click="logout()">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div id="adminNav" data-ng-model="adminNav" data-ng-show="barAdmin">
            <div id="loginNavAdmin" class="navbar-collapse navbar-responsive-collapse collapse out">
                <ul class="nav navbar-nav">
                    <li><a href data-ng-click="redirect('userPosters')">My Posters</a></li>
                    <li><a href data-ng-click="redirect('allPosters')">Posters</a></li>
                    <li><a href data-ng-click="redirect('users')">Users</a></li>
                    <li><a href data-ng-click="redirect('categories-towns')">Categories/Towns</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right col-md-2">
                    <li class="dropdown">
                        <a href class="dropdown-toggle" data-toggle="dropdown">{{username}} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href data-ng-model="editProfile" data-ng-click="goTo('editProfile')">Edit Profile</a></li>
                            <li><a href data-ng-click="logout()">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row" id="errors">
        <alert class="alert-danger" data-ng-show="onErrorLogin">Access denied.Try again</alert>
    </div>
</div>
<div class="row" style="height: 35px; overflow: hidden;" id="alerts">

</div>