<h1>TODO: More info for the purpose of that site</h1>
<h1>Теми на FAQ системата</h1>
<h2>Или Какво означава Inappropriate и Closed тема?</h2>

<h3>Изисквания</h3>
<ul>
    <li>Въпросите<strong>(Q)</strong> трябва да са <strong>САМО</strong> на тема SoftUni и трябва да отговарят предимно на различни тематики по системата на университетa.
    <li>Отговорите<strong>(А)</strong> трябва да се отнасят единствено към въпроса, на който отговаряте.</li>
    <li>Да не съдържа расистски, сексуални, битови(нямам предвид binary) проблеми, решения на домашни, Spam и т.н.</li>
    <li>Q и А трябва да са кратки до 150(Q)-200(A) и да отговарят адекватно, кратко на Q.</li>
    <li>Q&A трябва да са на <strong>Кирилица</strong>.</li>
    <li>Въпроси и отговори в UPPERCASE са забранени и ще бъдат трити от системата.</li>
    <li>Нямате право да пишете код нито в Q нито в A</li>
    <li>Правописни, синтактични и смислови грешки не се толерират. Поправяйте ги преди да публикувате.</li>
    <li>Всеки неспазващ тези точки ще бъде <strong>предопреден до 3 пъти</strong> със изтриване на отговора ви, при <strong>четвърто провинение</strong> се изтрива профила на провинения.</li>
</ul>

<h3>Примерни <strong>правилни</strong> въпроси с отговори:</h3>
<br/><strong>Q: Мога ли да запиша онлайн, като сега съм присъствено ?</strong>
<br/><em>А: Може, след като завършиш нивото, в което си сега, записваш online.</em>
<br/>
<br/><strong>Q: Когато платя с PayPal как да съм сигурен, че отиват за обучението ми?</strong>
<br/><em>A: Когато се регистрира плащане в системата, имате съобщение в профила.</em>
<br/>
<br/>Примерни <strong>НЕправилни</strong> въпроси с отговори:
<br/><strong>Q: Гичка, свободна ли е след работа да ти ... танцувам на сватбата?</strong>
<br/><em>А: Гичка says: YOU idiot ! I will find you and lick youр face !</em>
<br/>
<br/><strong>Q: Не трябва и да забраним циганите да кандидатстват за СофтУни?</strong>
<br/><em>A: А трябва ли расисти като тебе да участват ?</em>
<br/>
<br/><strong>Q: Lorem ipsum da ima Bratle. Pozdraw za nacepenite batkiiiiiiiii !!!!???</strong>
<br/><em>A: NACEPIN, podarak ot Nakov za vsichki. Da se natupame zaedno !</em>
